@page
@using NewStreamSupporter.Helpers;
@using NewStreamSupporter.Data;
@model NewStreamSupporter.Areas.Dashboard.Pages.Marquee.DetailsModel

<h1>Marquee details</h1>

<div class="border border-top my-2"></div>
<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <dl class="row mx-0 widget-datalist">
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.Name)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.Name)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.Name)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.Text)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.Text)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.Text)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.SpeedFactor)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.SpeedFactor)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.SpeedFactor)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.SpeedFactorPerCharacter)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.SpeedFactorPerCharacter)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.SpeedFactorPerCharacter)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.FadeTime)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.FadeTime)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.FadeTime)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.Delay)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.Delay)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.Delay)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.BackgroundColor)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.BackgroundColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.MarqueeModel.BackgroundColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.FontColor)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.FontColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.MarqueeModel.FontColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<MarqueeModel>(nameof(MarqueeModel.Permanent)))">
                    @Html.DisplayNameFor(model => model.MarqueeModel.Permanent)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.MarqueeModel.Permanent)
                </dd>
            </div>
        </dl>
        <div>
            <a class="btn btn-primary mb-1" asp-page="./Edit" asp-route-id="@Model.MarqueeModel?.Id">Edit</a>
            <a class="btn btn-danger mb-1" asp-page="./Delete" asp-route-id="@Model.MarqueeModel?.Id">Delete</a>
            <a class="btn btn-primary mb-1" asp-page="./Index">Back to list</a>
        </div>
    </div>
</div>