@page
@model NewStreamSupporter.Areas.Dashboard.Pages.Counter.DeleteModel
@using NewStreamSupporter.Data;
@using NewStreamSupporter.Helpers;
<h1>Delete counter</h1>

<hr />

<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <dl class="row mx-0 widget-datalist">
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<CounterModel>(nameof(CounterModel.Name)))">
                    @Html.DisplayNameFor(model => model.CounterModel.Name)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.CounterModel.Name)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<CounterModel>(nameof(CounterModel.Text)))">
                    @Html.DisplayNameFor(model => model.CounterModel.Text)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.CounterModel.Text)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<CounterModel>(nameof(CounterModel.Value)))">
                    @Html.DisplayNameFor(model => model.CounterModel.Value)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.CounterModel.Value)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<CounterModel>(nameof(CounterModel.BackgroundColor)))">
                    @Html.DisplayNameFor(model => model.CounterModel.BackgroundColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.CounterModel.BackgroundColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<CounterModel>(nameof(CounterModel.FontColor)))">
                    @Html.DisplayNameFor(model => model.CounterModel.FontColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.CounterModel.FontColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<CounterModel>(nameof(CounterModel.TriggeredByDonations)))">
                    @Html.DisplayNameFor(model => model.CounterModel.TriggeredByDonations)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.CounterModel.TriggeredByDonations)
                </dd>
            </div>
        </dl>
    
        <form method="post">
            <input type="hidden" asp-for="CounterModel.Id" />
            <a asp-page="./Index" class="btn btn-primary mb-1">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-danger mb-1" />
        </form>
    </div>
</div>
