@page
@using NewStreamSupporter.Data;
@using NewStreamSupporter.Helpers;
@model NewStreamSupporter.Areas.Dashboard.Pages.Rewards.DetailsModel

<h1>Reward details</h1>

<div class="border border-top my-2"></div>
<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <dl class="row mx-0 widget-datalist">
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Name)))">
                    @Html.DisplayNameFor(model => model.RewardModel.Name)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.RewardModel.Name)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Text)))">
                    @Html.DisplayNameFor(model => model.RewardModel.Text)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.RewardModel.Text)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Cost)))">
                    @Html.DisplayNameFor(model => model.RewardModel.Cost)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.RewardModel.Cost)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Cost)))">
                    @Html.DisplayNameFor(model => model.RewardModel.TriggeredId)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Model.SelectedWidget
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.BackgroundColor)))">
                    @Html.DisplayNameFor(model => model.RewardModel.BackgroundColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.RewardModel.BackgroundColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.FontColor)))">
                    @Html.DisplayNameFor(model => model.RewardModel.FontColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.RewardModel.FontColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.HasTextField)))">
                    @Html.DisplayNameFor(model => model.RewardModel.HasTextField)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.RewardModel.HasTextField)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.AutoAccept)))">
                    @Html.DisplayNameFor(model => model.RewardModel.AutoAccept)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.RewardModel.AutoAccept)
                </dd>
            </div>
        </dl>

        <div>
            <a class="btn btn-primary mb-1" asp-page="./Edit" asp-route-id="@Model.RewardModel?.Id">Edit</a>
            <a class="btn btn-danger mb-1" asp-page="./Delete" asp-route-id="@Model.RewardModel?.Id">Delete</a>
            <a class="btn btn-primary mb-1" asp-page="./Index">Back to list</a>
        </div>
    </div>
</div>
