@page
@using NewStreamSupporter.Data;
@using NewStreamSupporter.Helpers;
@model NewStreamSupporter.Areas.Dashboard.Pages.Rewards.EditModel

<h1>Edit reward</h1>

<div class="border border-top my-2"></div>
<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <form method="post" id="mainForm">
            <input type="hidden" asp-for="RewardModel.Id" />
            <input type="hidden" asp-for="RewardModel.OwnerId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pb-2">
                <label asp-for="RewardModel.Name" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Name)))"></label>
                <input asp-for="RewardModel.Name" required class="form-control" />
                <span asp-validation-for="RewardModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="RewardModel.Text" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Text)))"></label>
                <input asp-for="RewardModel.Text" required class="form-control" />
                <span asp-validation-for="RewardModel.Text" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="RewardModel.Cost" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.Cost)))"></label>
                <input asp-for="RewardModel.Cost" required class="form-control" type="number" step="1" min="@(ModelExtensions.GetMinimum<RewardModel>(nameof(RewardModel.Cost)))" max="@(ModelExtensions.GetMaximum<RewardModel>(nameof(RewardModel.Cost)))" />
                <span asp-validation-for="RewardModel.Cost" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="RewardModel.TriggeredId" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.TriggeredId)))"></label>
                <select asp-for="RewardModel.TriggeredId" class="form-control" name="chosenElement">
                    <option value="">Select an option</option>
                    @foreach(var option in Model.UserOptions)
                    {
                        @if (Model.RewardModel.TriggeredId != option.Item2)
                        {
                            <option value="@(option.Item1):@(option.Item2)">@option.Item1 - @option.Item3</option>
                        }
                        else
                        {
                            <option selected value="@(option.Item1):@(option.Item2)">@option.Item1 - @option.Item3</option>
                        }
                    }
                </select>
                <span asp-validation-for="RewardModel.TriggeredId" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="RewardModel.BackgroundColor" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.BackgroundColor)))"></label>
                <br />
                <input class="form-control js-color" required asp-for="RewardModel.BackgroundColor" data-jscolor="{preset: 'ThemedPreset'}" />
                <span asp-validation-for="RewardModel.BackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="RewardModel.FontColor" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.FontColor)))"></label>
                <br />
                <input class="form-control js-color" required asp-for="RewardModel.FontColor" data-jscolor="{preset: 'ThemedPreset'}" />
                <span asp-validation-for="RewardModel.FontColor" class="text-danger"></span>
            </div>
            <div class="form-group form-check pb-2">
                <label class="form-check-label" asp-for="RewardModel.HasTextField" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.HasTextField)))">
                    <input class="form-check-input" asp-for="RewardModel.HasTextField" /> @Html.DisplayNameFor(model => model.RewardModel.HasTextField)
                </label>
            </div>
            <div class="form-group form-check pb-2">
                <label class="form-check-label" asp-for="RewardModel.AutoAccept" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<RewardModel>(nameof(RewardModel.AutoAccept)))">
                    <input class="form-check-input" asp-for="RewardModel.AutoAccept" /> @Html.DisplayNameFor(model => model.RewardModel.AutoAccept)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-1" />
                <a class="btn btn-danger mb-1" asp-page="./Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    // https://stackoverflow.com/questions/7317273/warn-user-before-leaving-web-page-with-unsaved-changes/21061193#21061193
    let isSubmitting = false;
    $('#mainForm').on("submit", function () {
        const valid = $(this)[0].checkValidity();
        console.log("Valid: " + valid);
        if (valid) {
            isSubmitting = true;
        }
    });

    $('#mainForm').data('serialize', $('#mainForm').serialize());
    $(window).bind('beforeunload', function (e) {
        if ($('#mainForm').serialize() != $('#mainForm').data('serialize') && !isSubmitting) {
            return true;
        }
        e = null; // i.e; if form state change show warning box, else don't show it.
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
