@using NewStreamSupporter.Data;
@model CounterModel
@{
}

<style>
    .main-container {
        font-family: sans-serif;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif; */
        border-radius: 15px;
        background-color: @Model.BackgroundColor;
        color: @Model.FontColor;
    }

    .center-text {
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
        padding: 4px
    }
</style>
<script src="~/microsoft//signalr/dist/browser/signalr.js"></script>
<div class="d-flex flex-column calign-content-center main-container">
    <div class="center-text">@Html.Encode(Model.Text)</div>
    <div class="center-text" id="counter-value">@Model.Value</div>
</div>
<script>
    const animationTime = 1;

    const counter = document.getElementById("counter-value");
    
    function trigger(){
        const original = Number(counter.innerHTML);
        counter.innerHTML = original + 1;
    }

    function slideNumber(){

    }
</script>
<script>
    import("/js/component.js").then(res => {
        const signalClient = new res.SignalComponent("@Model.Id", "@Model.OwnerId", "counter");
        signalClient.setTrigger((arg) => {
            trigger()
        });
        signalClient.start();
    });
</script>