@page
@using NewStreamSupporter.Data;
@using NewStreamSupporter.Helpers;
@model NewStreamSupporter.Areas.Dashboard.Pages.DonationGoal.DeleteModel


<h1>Delete donation goal</h1>

<hr />

<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <dl class="row mx-0 widget-datalist">
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.Name)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.Name)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.Name)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.Text)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.Text)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.Text)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.TargetAmount)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.TargetAmount)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.TargetAmount)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.CurrentAmount)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.CurrentAmount)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.CurrentAmount)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.BackgroundColor)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.BackgroundColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.DonationGoalModel.BackgroundColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.FontColor)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.FontColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.DonationGoalModel.FontColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<DonationGoalModel>(nameof(DonationGoalModel.ExpiryDate)))">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.ExpiryDate)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.ExpiryDate)
                </dd>
            </div>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="DonationGoalModel.Id" />
            <a asp-page="./Index" class="btn btn-primary mb-1">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-danger mb-1" />
        </form>
    </div>
</div>