@page
@model NewStreamSupporter.Areas.Dashboard.Pages.DonationGoal.DetailsModel

<h1>Donation goal details</h1>

<hr />

<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <dl class="row mx-0 widget-datalist">
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.Name)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.Name)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.Text)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.Text)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.TargetAmount)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.TargetAmount)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.CurrentAmount)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.CurrentAmount)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.BackgroundColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.DonationGoalModel.BackgroundColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.FontColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.DonationGoalModel.FontColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DonationGoalModel.ExpiryDate)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.DonationGoalModel.ExpiryDate)
                </dd>
            </div>
        </dl>
        <div>
            <a class="btn btn-primary mb-1" asp-page="./Edit" asp-route-id="@Model.DonationGoalModel?.Id">Edit</a>
            <a class="btn btn-danger mb-1" asp-page="./Delete" asp-route-id="@Model.DonationGoalModel?.Id">Delete</a>
            <a class="btn btn-primary mb-1" asp-page="./Index">Back to list</a>
        </div>
    </div>
</div>