@page
@model NewStreamSupporter.Areas.Dashboard.Pages.DonationGoal.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table table-responsive table-hover widget-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationGoalModel[0].Name)
            </th>
            @*
            <th>
            @Html.DisplayNameFor(model => model.DonationGoalModel[0].Text)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DonationGoalModel[0].TargetAmount)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DonationGoalModel[0].CurrentAmount)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DonationGoalModel[0].BackgroundColor)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DonationGoalModel[0].FontColor)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.DonationGoalModel[0].ExpiryDate)
            </th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DonationGoalModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.TargetAmount)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CurrentAmount)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.BackgroundColor)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.FontColor)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
            <a asp-area="Api" asp-controller="Component" asp-action="DonationGoal" asp-route-uid="@item.OwnerId" asp-route-id="@item.Id">Show</a>
            </td>
            *@

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><span class="material-icons border border-1 border-primary rounded p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">edit</span></a>
                    <a asp-page="./Details" asp-route-id="@item.Id"><span class="material-icons border border-1 border-primary rounded p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Details">info</span></a>
                    <a asp-area="Api" asp-controller="Component" asp-action="DonationGoal" asp-route-uid="@item.OwnerId" asp-route-id="@item.Id" target="_blank"><span class="material-icons border border-1 border-primary rounded p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Open widget">content_copy</span></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><span class="material-icons border border-1 border-danger text-danger rounded p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">delete</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
