@page
@using NewStreamSupporter.Data;
@using NewStreamSupporter.Helpers;
@model NewStreamSupporter.Areas.Dashboard.Pages.Timer.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create timer</h1>

<div class="border border-top my-2"></div>
<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <form method="post" id="mainForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimerModel.Id" />
            <input type="hidden" asp-for="TimerModel.OwnerId" />
            <div class="form-group pb-2">
                <label asp-for="TimerModel.Name" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.Name)))"></label>
                <input asp-for="TimerModel.Name" required class="form-control" />
                <span asp-validation-for="TimerModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="TimerModel.Text" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.Text)))"></label>
                <input asp-for="TimerModel.Text" required class="form-control" />
                <span asp-validation-for="TimerModel.Text" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="TimerModel.Length" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.Length)))"></label>
                <input asp-for="TimerModel.Length" required class="form-control" type="number" min="@(ModelExtensions.GetMinimum<TimerModel>(nameof(TimerModel.Length)))" max="@(ModelExtensions.GetMaximum<TimerModel>(nameof(TimerModel.Length)))" />
                <span asp-validation-for="TimerModel.Length" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="TimerModel.BackgroundColor" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.BackgroundColor)))"></label>
                <br />
                <input class="form-control js-color pb-2" required asp-for="TimerModel.BackgroundColor" data-jscolor="{preset: 'ThemedPreset'}" />
                <span asp-validation-for="TimerModel.BackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="TimerModel.FontColor" class="control-label" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.FontColor)))"></label>
                <br />
                <input class="form-control js-color pb-2" required asp-for="TimerModel.FontColor" data-jscolor="{preset: 'ThemedPreset'}" />
                <span asp-validation-for="TimerModel.FontColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mb-1" />
                <a asp-page="Index" class="btn btn-danger mb-1">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    // https://stackoverflow.com/questions/7317273/warn-user-before-leaving-web-page-with-unsaved-changes/21061193#21061193
    let isSubmitting = false;
    $('#mainForm').on("submit", function () {
        const valid = $(this)[0].checkValidity();
        isSubmitting = valid;
        console.log(valid)
    });

    $('#mainForm').data('serialize', $('#mainForm').serialize());
    $(window).bind('beforeunload', function (e) {
        if ($('#mainForm').serialize() != $('#mainForm').data('serialize') && !isSubmitting) {
            return true;
        }
        e = null; // i.e; if form state change show warning box, else don't show it.
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
