@page
@using NewStreamSupporter.Data;
@using NewStreamSupporter.Helpers;
@model NewStreamSupporter.Areas.Dashboard.Pages.Timer.DetailsModel

<h1>Timer details</h1>

<hr />

<div class="row mx-0">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <dl class="row mx-0 widget-datalist">
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.Name)))">
                    @Html.DisplayNameFor(model => model.TimerModel.Name)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.TimerModel.Name)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.Text)))">
                    @Html.DisplayNameFor(model => model.TimerModel.Text)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.TimerModel.Text)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.Length)))">
                    @Html.DisplayNameFor(model => model.TimerModel.Length)
                </dt>
                <dd class="col-sm-8 text-break my-1">
                    @Html.DisplayFor(model => model.TimerModel.Length)
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.BackgroundColor)))">
                    @Html.DisplayNameFor(model => model.TimerModel.BackgroundColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.TimerModel.BackgroundColor'}" disabled />
                </dd>
            </div>
            <div class="border-1 border-bottom row py-1">
                <dt class="col-sm-4" data-bs-toggle="tooltip" data-bs-title="@(ModelExtensions.GetDescription<TimerModel>(nameof(TimerModel.FontColor)))">
                    @Html.DisplayNameFor(model => model.TimerModel.FontColor)
                </dt>
                <dd class="col-sm-8 text-break mb-0">
                    <input class="js-color form-control" data-jscolor="{preset: 'ThemedPreset', value: '@Model.TimerModel.FontColor'}" disabled />
                </dd>
            </div>
        </dl>

        <div>
            <a class="btn btn-primary mb-1" asp-page="./Edit" asp-route-id="@Model.TimerModel?.Id">Edit</a>
            <a class="btn btn-danger mb-1" asp-page="./Delete" asp-route-id="@Model.TimerModel?.Id">Delete</a>
            <a class="btn btn-primary mb-1" asp-page="./Index">Back to list</a>
        </div>
    </div>
</div>
